:root{
    --cor-fundo : #9F9F9F;
    --cor-fonte : #FFFFFF;
    --cor-detalhes01 : #282828;
    --cor-detalhes02 : #E76100;
    ;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: sans-serif;
    background-color: var(--cor-fundo);
}

/* INICIO HEADER */
#chec{
    display: none;
}

/*MENU*/
.dp-menu ul{
    list-style-type: none;
    background-color: var(--cor-detalhes01);
}

.dp-menu ul li{
    display: inline;
}

.dp-menu ul li a{
    color: var(--cor-fonte);
    text-decoration: none;
    display: inline-block;
    padding: 2%;
}

.dp-menu ul li a:hover{
    color: black;
    background-color: var(--cor-detalhes02);
}

/*sub-menu*/
.quadrado{
    position: absolute;
    left: -400px;
    height: 442px;
    width: 330px;
    margin-top: 7vh;
    margin-left: 1vh;
    box-shadow: 0 0 3rem black;
    background-color: var(--cor-detalhes01);
}

/*Imagens menu categoria*/
.quadrado img{
    width: 15%;
    margin-left: 15px;
    margin-top: 25px;
}

.categoria_menu{
    padding-left: 26%;
    font-size: 35px;
    color: var(--cor-fonte);
}

.dp-menu ul li a{
    padding: 10%;
    font-size: 18px;
    background-color: var(--cor-fundo);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 5px solid black;
}

input[type="checkbox"]:checked ~ ul
{
    transform: translate(475px);
}

input[type="checkbox"]:checked ~ .quadrado
{
    transform: translate(400px);
}

.dp-menu ul{
    position: absolute;
    left: -400px;
    height: 150px;
    width: 250px;
    margin-top: 12.9vh;
    margin-left: 1.2vh;
}

.dp-menu img:hover ul{
    display: block;
}

.dp-menu ul li a{
    display: block;
}
/*Fim menu vertical animado*/

header{
    height: 7vh;
    display: flex;
    background-color: var(--cor-detalhes01);
    box-shadow: 0 0 2rem black;
}

li{
    list-style-type: none;
}

.categorias{
    height: 80%;
    margin-left: 2vh;
    margin-top: 0.5vh;
    cursor: pointer;
}

.logo{
    font-size: 6vh;
    color: var(--cor-fonte);
    padding-left: 15%;
    font-family: 'Khand';
    font-style: normal;
}

/*Barra de pesquisa*/
.pesquisa{
    padding-left: 15%;
}

.barra_pesquisa{
    height: 35%;
    width: 150%;
    margin-left: 47%;
    margin-top: 2vh;
    background-color: #D9D9D9;
}

.texto_pesquisa{
    position: absolute;
    margin-top: 2.5vh;
    font-size: 115%;
    color: var(--cor-fonte);
}

/*INICIO CARROSSEL*/
.carrossel{
    margin: 0 auto;
    margin-top: 5vh;
    border: 4px solid var(--cor-detalhes01);
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    padding: 5px;
    border: 2px solid var(--cor-detalhes01);
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: var(--cor-detalhes02);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegacao-auto div{
    padding: 5px;
    border: 2px solid var(--cor-detalhes01);
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacao-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navegacao-auto .navegacao1{
    background-color: var(--cor-detalhes02);
}

#radio2:checked ~ .navegacao-auto .navegacao2{
    background-color: var(--cor-detalhes02);
}

#radio3:checked ~ .navegacao-auto .navegacao3{
    background-color: var(--cor-detalhes02);
}

#radio4:checked ~ .navegacao-auto .navegacao4{
    background-color: var(--cor-detalhes02);
}
