a{
    text-decoration: none;
    color: #000000;
    background-color: #9F9F9F;
    display: block;
    padding: 20px 5px;
}

a:hover{
    background-color: #282828;
    color: #E76100;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #D9D9D9;
}

ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 90%;
}

.icon{
    background-color: #282828;
    background-size: cover;
}

#card{
    width: 50px;
    padding-top: 0px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ nav{
    transform: translateX(400px);
}

nav{
    background-color: #282828;
    width: 350px;
    height: 100%;
    left: -400px;
    position: absolute;
    transition: all .5s;
    border: 3px solid #000000;
    border-bottom: 0px solid #000000;
    border-top: 0px solid #000000;
}

#header{
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #282828;
    border: 1px solid #000000;
}

#logo{
    position: absolute;
    width: 80%;
    height: 70px;
    text-align: center;
    top: -45px;
    font-family: 'Khand';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 84px;
    color: #ffffff;
}

#categorias{
    box-sizing: border-box;
    width: 92px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #282828;
    border: 3px solid #000000;
    border-bottom: 0px solid #000000;
    border-top: 0px solid #000000;
}

#carrinho{
    box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 70px;
    right: 150px;
    top: 0px;
    background: #282828;
    border: 3px solid #000000;
    border-bottom: 0px solid #000000;
    border-top: 0px solid #000000;
}
#login{
    box-sizing: border-box;
    position: absolute;
    width: 153px;
    height: 35px;
    right: 0px;
    top: 0px;
    background: #282828;
    border: 3px solid #000000;
    border-top: 0px solid #000000;
}

#registro{
    box-sizing: border-box;
    position: absolute;
    width: 153px;
    height: 35px;
    right: 0px;
    bottom: 0px;
    background: #282828;
    border: 3px solid #000000;
    border-top: 0px solid #000000;
}

#chec{
	
}

.carrossel{
	align-items: center;
	box-shadow: 2px 2px 4px black;
	overflow: hidden;
	height: 500px;
	width: 500px;
}

.container{
	display:  flex;
	transition: transform 0.5s ease-in-out;
	transform: translatex(0);
}

img{
	object-fit: cover;
	height: 500px;
	width: 500px;
}